/* Author Kyle Thomas */
/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f5e9; /* Light green background */
    color: #333;
}

/* Header styles */
header {
    background-color: #5e8745; /* Dark green header background */
    color: #fff;
    padding: 20px;
    width: 100%;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
}

/* Navigation styles */

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: whitesmoke; /* Dark green for navigation links */
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #8cbf6b; /* Light green on hover */
}

/* Section styles */
section {
    background-color: #fff;
    padding: 40px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

section h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #5e8745; /* Dark green for section headings */
}

section#about {
    margin-top: 70px;
}

/* Education styles */
section#education p {
    font-size: 1.2rem;
    margin-top: 10px;
}

/* Experience styles */
.experience-entry h3 {
    font-size: 1.4rem;
    color: #5e8745; /* Dark green for experience headings */
}

.experience-entry ul {
    margin-top: 10px;
    list-style-type: disc;
    margin-left: 20px;
}

/* Skills styles */
section#skills ul {
    list-style-type: none;
    margin-left: 20px;
}

section#skills li {
    font-size: 1.2rem;
    color: #5e8745; /* Dark green for skill text */
    margin-bottom: 10px;
}

/* Activities styles */
.activity-entry h3 {
    font-size: 1.4rem;
    color: #5e8745; /* Dark green for activity titles */
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}



/* CSS for the navigation menu */
nav ul.active {
    display: block;
    position: absolute;
    background-color: #333;
    width: 100%;
    top: 60px;
    left: 0;
    text-align: center;
}

nav ul.active li {
    display: block;
    margin: 15px 0;
}

/* Hide the navigation menu by default on larger screens */
@media screen and (min-width: 768px) {
    nav ul {
        display: flex;
        justify-content: center;
    }

    nav ul.active {
        display: none;
    }
}

/* CSS for animations */
.button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
    background-color: #555;
    transform: scale(1.05);
}
